body{
    background-image: url("./imgs/league-of-legends.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.logo{
    text-align: center;
}


section{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}

.comment{
    color: white;
    font-size: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-size: 20px;
}

.font{
    font-size: 30px;
}

.box01{
    border: 5px solid;
    background-color: rgb(1, 1, 49);
    border-color: aqua;
}

.box02{
    border: 5px solid;
    background-color: rgb(1, 1, 49);
    border-color: aqua;
}

.box03{
    border: 5px solid;
    background-color: rgb(1, 1, 49);
    border-color: aqua;
}

.box04{
    border: 5px solid;
    background-color: rgb(1, 1, 49);
    border-color: aqua;
}

.box05{
    border: 5px solid;
    background-color: rgb(1, 1, 49);
    border-color: aqua;
}




